@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="https://localhost:7172/Entry"><button>Admin</button></a>
    <a href=""><button>User</button></a>

</div>